/*_______________________________GAME_____________________________*/

.gameSection>.placingGrid>.row>.col-lg-1,
.gameSection>.placingGrid>.row>.col-md-1,
.gameSection>.placingGrid>.row>.col-sm-1 {
    border: 1px solid black;
    width: 10%;
    height: 50px;
}
.gameSection {
    width: 50%;
}
.gameSection:nth-of-type(2) {
    float: right;
}