
/*_______________________________HEADER_____________________________*/

.navbar  {
  padding: 10px 0px 6px 0px;
  margin: 0px;
  box-shadow: 0px 0px 12px 0px #838282;
  border: none;
}
.navbar > .container-fluid .navbar-brand {
  margin: 0px;
  padding: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: none;
}
.navbar-header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; 
  display: -moz-box;     
  display: -webkit-flex;  
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-form {
  padding: 0px 15px;
  border: none ;
}
.navbar-default .navbar-toggle {
  border: none;
}

  .header-logo {
    width: 100px;
  }
/*_______________________________SEARCH BAR__________________________*/

.navbar-form .input-group .form-control{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.form-submit {
  font-size:22px;
  color:#757575;
  background: transparent;
  border: none;
}
.search-bar{
  display: none;
}
.navbar-form {
  padding-right: 10px;
}

/*_______________________________FOOTER_____________________________*/

.brand-band {
  background: transparent url("../image/min/brand-colours.jpg") no-repeat scroll;
  height: 10px;
  width: 100%;
  background-size: 100% 10px;
}
.footer-info {
  border-top: 8px solid #ECECEC;
  color: #6C6C6C;
  text-align: center;
  height: auto;
}
.footer-logo  {
  padding: 10px;
}
.footer-brand {
  padding-top: 40px;
  padding-bottom: 40px;
}
#success_message{
  display: none;
}
#form-section{
  display: none;
}
.well{
  background-color: transparent;
  border: transparent;
}
.form-group {
  padding : 0 10px;
}
.submit {
  float: right ;
  margin-right: 15px;
  color: #7E7E7E;
}
#submit:hover {
  color: #23527C;
  text-decoration: none;
}
.footer-links {
  height: 30px;
  margin: 5px 0;
}
footer #submit,
#credits {
  float: right ;
  margin-right: 15px;
  color: #7E7E7E;
}
footer #submit:hover,
#credits:hover {
  color: #23527C;
  text-decoration: none;
}
.header-logo {
  max-height: 50px;
}

/* smartphone */
@media all and (max-width:767px){
  #search-button {
    float: right;
  }
 /* .navbar-form {
        -webkit-box-flex:  0 1 0%;
        -webkit-flex:  0 1 0%;
	flex:  0 1 0%;
  }*/
  .navbar-header{
		-webkit-box-flex:  1 0 auto;
		-webkit-flex: 1 0 auto;
        -ms-flex:  1 0 auto;
    flex: 1 0 auto;
  }
  .input-group-btn{
  width:auto;
  }
  .input-group .form-control{
    width: 200px;
  }
}