body {
  position:relative;
  padding-top: 50px;
  height:auto;
}
html{
  height:100%;
}
body, html{
  width: 100%;
  margin:0;
  padding: 0;
}
footer, .navbar {
  background-color: #FFF;
}
.btn-info {
  background-color: #37B9C3 ;
  border-color: none ;
}
.btn-success {
    background-color: #19A546;
    border-color: none;
  }
.modal-content {
  text-align: center;
}
#myModal {
  z-index: 5000;
}

/*_______________________________JUMBOTRON__________________________*/

.jumbotron .separate {
  width: 50px;
  height: 6px;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 20px;
}
.jumbotron {
  background: transparent url("../image/min/blurred-wallpaper.jpg") repeat scroll 50% 25%;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
.jumbotron .btn {
  margin-right: 15px;
  margin-left: 15px;
}
.jumbotron .btn .glyphicon {
  border-left: 1px solid white;
  padding-left: 10px;
  margin-left: 10px;
}
.jumbotron .btn {
  border-radius: 20px;
}
#new-app-details{
  display: inline-block;
  padding: 0% 2% 0% 6%;
  max-width: 530px;
  text-align: left;
  width: 100%;
  float: left;
}
#new-app{
  padding: 30px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;      
  display: -webkit-flex;  
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
	align-items: center;
}
.jumbotron .img-circle{
  display: inline-block;
  vertical-align: top;
  height: auto;
}
#img-jumbotron {
  padding: 0% 2%;
  float: left;
}
.jumbotron h1{
  margin-top: 0px;
}
.jumbotron p {
  font-size: 16px;
}
/*_______________________________MENU______________________________*/

#scroll-nav ul {
  background-color: #5F5C5C;
  border-radius: 7px;
  z-index: 1040;
}
#scroll-nav li:hover {
  background-color: rgba(95, 92, 92, 0.76);
}
.affix {
  top:100px;
}
#scroll-nav a {
  color: #E4E4E4;
}
.nav-pills {
  width: 220px;
}
.nav-pills li a {
    border-radius: 0px;
}
.nav-pills li.active .tosection1,
.nav-pills li.active .tosection1:focus, 
.nav-pills li.active .tosection1:hover, 
/*.nav-pills .tosection1:hover,*/
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover  { background-color: #91C896 ; }
.nav-pills li.active .tosection2,
.nav-pills li.active .tosection2:focus, 
.nav-pills li.active .tosection2:hover, 
/*.nav-pills .tosection2:hover, */
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover { background-color: #37B9C3 ; }
.nav-pills li.active .tosection3,
.nav-pills li.active .tosection3:focus,
.nav-pills li.active .tosection3:hover, 
/*.nav-pills .tosection3:hover,*/
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover  { background-color: #00AAFF; }
.nav-pills li.active .tosection4,
.nav-pills li.active .tosection4:focus, 
.nav-pills li.active .tosection4:hover, 
/*.nav-pills .tosection4:hover,*/
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover  { background-color: #0078BE; }

.nav-stacked > li + li {
  margin-top: 0;
}
.nav-pills li.active {
  font-weight: bold;
}
 h5 {
  font-size: 16px;
  color: #E4E4E4;    
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 0px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
  }
.nav >li:last-child >a,
.nav >li:last-child >a:hover,
.nav >li:last-child .active,
.nav li:last-child:hover {
  border-bottom-right-radius: 7px ;
  border-bottom-left-radius: 7px ;
}
#scroll-nav  {
    padding-right: 0px !important ;
    padding-left: 0px !important ;
}

/*_______________________________MAIN___________________________*/

.container {
  width: 100%;
  padding: 0 5%;
}
.main{
  padding-top: 50px;
}
.main,
.main section .row,
.main #scroll-nav,
.main #apps {
  background: #F5F5F5;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 40px;
}
.row [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}
#section1 .col-md-12, 
#section2 .col-md-12,
#section3 .col-md-12 {
  padding-top: 0px;
  padding-top: 10px;
}
#section1 .col-md-12 h2, 
#section2 .col-md-12 h2,
#section3 .col-md-12 h2{
  margin-top: 0; 
}
h2 {
  border-bottom: 1px solid blue;
  padding-bottom: 10px;
  letter-spacing:5px;
  font-size: 28px;
  text-transform: uppercase;
}
#section1 h2 { border-bottom: 1px solid #91C896; }
#section2 h2 { border-bottom: 1px solid #37B9C3; }
#section3 h2 { border-bottom: 1px solid #00AAFF; }
#section4 h2 { border-bottom: 1px solid #0078BE; }
.separate {
  height: 8px;
  width: 70px;
  border-radius: 20px;
}
#section1 .separate { background-color: #91C896; }
#section2 .separate { background-color: #37B9C3; }
#section3 .separate { background-color: #00AAFF; }
#section4 .separate { background-color: #0078BE; }
.panel {
  box-shadow: none;
}
.panel-default {
    border-color: rgba(213, 213, 213, 0.56);
  }
.panel-default .panel-heading {
  background-color: transparent;
  background-image: none;
  border: none;
}
.complement {
  margin-bottom: 20px;
}
.img-circle {
  width: 110px;
  height: 110px;
  border-radius: 20%;
}
.date{
  margin: 10px 0px 10px;
  font-style: italic;
  font-size: 12px;
  color: #6C6C6C;
}
.panel .buttons {
  margin-top: 35px;
  height: 35px;
}
.panel .buttons .btn-info{
  float: left;
}
.panel .buttons .btn-success{
  float: left;
  display: table;
  margin-left: 10px;
}
.panel .btn {
  height: 35px;
}
.panel .btn .glyphicon {
  vertical-align: middle;
  display: table-cell;
}
.plus,
.moins {
  border-radius: 50%;
  border: 1px #C0C0C0 solid;
  background-color: transparent;
  padding: 14px;
  -ms-padding : 11px 14px;
}
.plus .glyphicon,
.moins .glyphicon {
  color: #C0C0C0;
}
.appli{
  display: none;
}
.section button:hover {
  border: 1px solid #909090;
}
.btn-success .dwnl {
  display: none;
}

/*________________________ ELEVATOR __________________________*/
#elevator_item {
  width: 60px;
  height: 100px;
  position: fixed;
  right: 5px;
  bottom: 10px;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  opacity: 1;
  filter:alpha(opacity=100);
  z-index: 1000;
  display: none;
}
#elevator_item.off {
  opacity: 0;
  filter:alpha(opacity=0);
  visibility: hidden
}
#elevator {
  display: block;
  width: 60px;
  height: 50px;
  background: url(http://www.jqueryscript.net/demo/jQuery-Scroll-To-Top-Barcode-Plugin/img/icon_top.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 10px;
}
#elevator:hover {
  background-color: rgba(0,0,0,.7) ;
}
#elevator:active {
  background-color: rgba(0,0,0,.75) ;
}


/*_______________________ TABLETTE ___________________*/
@media all and (max-width:991px){
  nav #nav{
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius:0px;
    width: 100%;
  }
  nav .nav-pills {
    position: fixed;
    top: 66px;
    z-index: 2000;
    left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .jumbotron {
    padding-top: 140px;
  }
  nav li,
  nav a {
    height: 100%;
  }
  h5 {
    display: none;
  }
  .nav > li:last-child > a, 
  .nav > li:last-child > a:hover, 
  .nav > li:last-child .active, 
  .nav li:last-child:hover{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}


/*________________________ SMARTPHONE __________________________*/
@media all and (max-width:767px){
  nav .dev {
    left: 0px !important;
  }
  nav #nav {
    display: block;
    border-radius: 0px;
    height: auto;
    width: 250px;
    bottom: 0px;
    left: -250px;
    -webkit-transition: 0.7s ease;
            transition: 0.7s ease;
  }
  nav .nav-pills {
    top: 0px;
    z-index: 2000;
  }
  h5 {
    display: block;
  }
  .navbar-default .navbar-toggle:focus, 
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  nav #nav li {
    height: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  #scroll-nav ul {
    background-color: rgba(95, 92, 92, 0.96);
  }
 .jumbotron .img-circle{
    width: 85px;
    height: 85px;
  }
  .jumbotron {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .main {
    padding-top: 15px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
  .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
  .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, 
  .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, 
  .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
  .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, 
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
  .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  #apps .description {
    display: none;
  }
  #apps .appli{
    display: none;
    padding: 0px;
  }
  #apps .panel-default {
    height: auto;
  }
  #apps .panel-heading {
    padding: 0px;
  }
  #apps .panel-body {
    position: relative;
    height: auto;
    margin: 10px;
    padding: 0px;
  }
  #apps .img-circle{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-right: 10px;
    /*border: 1px solid rgb(198, 198, 198);*/
  }
  #apps .date,
  #apps .panel-heading {
    margin-left: 125px;
  }
  #apps .appli .description,
  #apps .glyphicon-download {
    display: none;
  }
  #apps .buttons {
    float: right;
    margin-top: 0px;
    height: auto;
  }
  #apps .btn {
    padding: 1px 3px;
    height: auto;
  }
  .btn-success .dwnl {
    display: block;
  }
  .panel-body:hover{
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  #elevator_item {
    width: 50px;
    height: 70px;
  }
  #elevator {
    width: 50px;
    height: 40px;
  }

}
/* petit écran */
  @media all and (max-width:330px){
    .jumbotron .btn span {
      display: none;
  }
  #img-jumbotron {
  padding: 0% 2%;
}
#new-app-details{
  padding: 0% 2% 0% 10%;
  }
  #new-app {
    padding: 5px 0px;
	}
}

